[submodule "sim-raylib"]
	path = sim/raylib
	url = https://github.com/raysan5/raylib.git
	branch = 5.0
	shallow = true

[submodule "topdown-raylib"]
	path = topdown/raylib
	url = https://github.com/raysan5/raylib.git
	branch = 5.0
	shallow = true

[submodule "fps-raylib"]
	path = fps/external/raylib
	url = https://github.com/raysan5/raylib.git
	branch = 5.5
	shallow = true

[submodule "fps-raylib-cpp"]
	path = fps/external/raylib-cpp
	url = https://github.com/RobLoach/raylib-cpp.git
	shallow = true
